*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
}

.loader{
    position: relative;
    width: 50px;
    height: 50px;
    animation: rotate 2s linear infinite;
    
}

.balls{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: wheat;
    border-radius: 50%;
    transform-origin: -20px 0;
}

.balls::before,
.balls::after,
.balls::before,
.balls::after{
    content: "";
}

.loader .balls:nth-child(1){transform: rotate(0deg) translateX(20px);}
.loader .balls:nth-child(2){transform: rotate(45deg) translateX(20px);}
.loader .balls:nth-child(3){transform: rotate(90deg) translateX(20px);}
.loader .balls:nth-child(4){transform: rotate(135deg) translateX(20px);}
.loader .balls:nth-child(5){transform: rotate(180deg) translateX(20px);}
.loader .balls:nth-child(6){transform: rotate(2250deg) translateX(20px);}
.loader .balls:nth-child(7){transform: rotate(270deg) translateX(20px);}
.loader .balls:nth-child(8){transform: rotate(315deg) translateX(20px);}
.loader .balls:nth-child(9){transform: rotate(360deg) translateX(20px);}


@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}