body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to bottom,aqua,violet);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    position: relative;
    background-color: pink;
    width: 300px;             
    height: 200px;  
    border: 2px solid black;
    padding: 20px;
}