*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to right,rgba(125,26,100,0.7),rgba(150,30,110,0.8));
}