*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    background: linear-gradient(to bottom,rgba(100,140,200,0.8),rgba(180,40,200,0.7));
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif
}

.container{
    width: 90%;
    max-width: 500px;
    background: rgba(255,255,255,0.5);
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
}

header{
    text-align: center;
    padding: 10px 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

header h1{
    font-size: 1.8rem;
    color: #333;
    letter-spacing: 2px;
}

main{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 30px;
    gap: 20px;
}

.add-btn {
width: 60px;
height: 60px;
font-size: 2rem;
font-weight: bold;
color: white;
background: linear-gradient(135deg, #6b4de0, #b04dde);
border: none;
border-radius: 50%;
cursor: pointer;
box-shadow: 0 4px 10px rgba(0,0,0,0.2);
transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.add-btn:hover {
transform: scale(1.1);
box-shadow: 0 6px 12px rgba(0,0,0,0.25);
}


.tasks {
background: rgba(240, 240, 255, 0.8);
width: 100%;
border-radius: 10px;
padding: 15px;
text-align: center;
color: #555;
font-size: 1rem;
border: 1px solid rgba(0,0,0,0.1);
}


footer {
border-top: 2px solid rgba(0,0,0,0.1);
padding-top: 10px;
text-align: center;
}

footer p {
font-weight: bold;
color: #333;
margin-bottom: 5px;
}

footer ul {
list-style: none;
}

footer li {
color: #666;
font-size: 0.9rem;
}