*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.image-holder{
    border: 3px solid balck;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.image-holder #image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}